flask
python-dotenv
flask-wtf
flask_sqlalachemy
flask_migrate
flask-login
email-validator
flask-mail
pyjwt
flask-moment
flask-bootstrap
langdetect
flask_babel
HTTPie
flask-httpauth
flask-pagedown==0.4.0
markdown==3.5.1
bleach==3.1.0
flask-socketio
flask-dropzone
flask-avatars
elasticsearch
rq
